<form [formGroup]="formulario" (ngSubmit)="register()">
    <div class="campo">
        <label for="">Nombre de usuario:</label>
        <input type="text" formControlName="username">
    </div>
    <div class="campo">
        <label for="">Email:</label>
        <input type="email" formControlName="email">
    </div>
    <div class="campo">
        <label for="">Contraseña:</label>
        <input type="pasword" formControlName="password">
    </div>



    <button type="submit" [disabled]="formulario.invalid" class="btn btn-">CREAR CUENTA</button>
    <a routerLink="/login">Iniciar Sesion aqui</a>

</form>