    input[type="text"] {
        padding: 1rem;
        border: none;
        display: block;
        font-size: .8rem;
        margin: 0;
    }
    
    input:focus {
        outline-color: #f8c50a;
    }
    
    label {
        display: block;
        font-weight: 700;
        margin-block: 1rem;
        color: #ffffff;
        font-size: 1rem;
    }